.navbar-brand {
    img {
        height: 60px;
    }
}

#navbarSupportedContent {

    ul {
        li {
            padding: 20px;

            a {
                &:hover {
                    border-bottom: 1px solid #61ce4e;
                }
            }
        }
    }
}

.myButton {
    background-color: #61ce4e;
    border-radius: 5px;
    border: 1px solid #61ce4e;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
        &:hover {
        text-decoration: none;
        color: white;
    }
}
