.navbar-brand {
    img {
        height: 60px;
    }
}

#navbarSupportedContent {
    ul {
        .nav-item {
            padding: 20px;

            &:hover {
                border-bottom: $bordo-link-header;
            }
        }
    }

    .active-l {
        border-bottom: $bordo-link-header;
    }

    .button {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.myButton {
    background-color: #61ce4e;
    border-radius: 5px;
    border: 1px solid #61ce4e;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }
}
