$tipo-font: 'Roboto', sans-serif;
$sfondo-sezioni-blu: #1b3c59;
$colore-testi-jumbo: #1b3c59;
$colore-testo-sezioni-blu: white;
$dimensione-container: 1140px;
$colore-icone: white;
$bordo-link-header: 2px solid #61ce4e;
